!./dockerHDDM_Quick_View.ipynb
!./dockerHDDM_Workflow.ipynb
!./OfficialTutorials/HDDM_Basic_Tutorial.ipynb
!./OfficialTutorials/HDDM_Regression_Stimcoding.ipynb
!./OfficialTutorials/Posterior_Predictive_Checks.ipynb