.git
.github
.ipynb_checkpoints
**/.ipynb_checkpoints
__pycache__
**/__pycache__

*.db
*.hddm
*.nc
tmp_*.db
model_fitted/
dockerHDDMTutorial/test/

data/
hddm/
kabuki/
pymc2/
ssm-simulators/
logic/
trace/
evidence/
docs/
manuscripts/
src/
