[submodule "kabuki"]
	path = kabuki
	url = https://github.com/panwanke/kabuki.git
[submodule "hddm"]
	path = hddm
	url = https://github.com/panwanke/hddm.git
[submodule "pymc2"]
	path = pymc2
	url = https://github.com/panwanke/pymc2
[submodule "ssm-simulators"]
	path = ssm-simulators
	url = https://github.com/panwanke/ssm-simulators
